body {
  font-family: Helvetica Neue, sans-serif;
}

.banner {
  background: #009688;
  color: #fff;
  padding: 10px;
  margin: -8px;
}

.sprite-container {
  background: #67bb6b;
}

.center {
  margin: 0 auto;
  text-align: center;
}


